name: CI

on:
    push:
        branches:
            - "**"
    pull_request:
        branches:
            - main

jobs:
    test:
        name: Lint & Test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@4

            - name: Setup bun
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install

            - name: Run linter
              run: bun run lint

            - name: Run tests
              run: bun run test 
    docker:
        needs: test
        name: Build docker
        runs-on: ubuntu-lates

        steps:
            - name: Checkout code
              uses: actions/checkout@4

            - name: Set up Docker Buidx
              uses: docker/setup-buidx-action@v6
              with:
                context: .
                push: false
                tags: assignment-3:latest