name: CI

on:
    push:
        branches:
            - "**"
    pull_request:
        branches:
            - main

jobs:
    test:
        name: Lint & Test
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup bun
              uses: oven-sh/setup-bun@v2

            - name: Install dependencies
              run: bun install

            - name: Run linter
              run: bun run lint

            - name: Run tests
              run: bun run test 
    docker:
        needs: test
        name: Build docker
        runs-on: ubuntu-latest
        permissions:
            contents: read
            packages: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker Buidx
              uses: docker/setup-buildx-action@v6
              
            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push Docker image
              uses: docker/build-push-action@v6
              with:
                context: .
                push: ${{ github.ref == 'refs/heads/main' }}
                tags: ghcr.io/${{ github.repository }}:latest